.calendar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.calendar__row {
    display: flex;
}

.calendar__tile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    margin: 1px;
}

.calendar__button {
    background-color: #CBE5E5;
}

.calendar__label {
    background-color: #CBCBE8;
    text-align: center;
}

.calendar__row:first-child,
.calendar__row:last-child {
    height: 40px;
}

.calendar__row:not(:first-child):not(:last-child) {
    flex: 1 1 0;
}

.calendar__tile:first-child,
.calendar__tile:last-child {
    width: 50px;
}

.calendar__tile:not(:first-child):not(:last-child) {
    flex: 1 1 0;
}

.calendar__day {
    border-color: #000;
    font-size: 11px;
    padding: 0 2px;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.day__title {
    border: 1px solid #000;
    border-radius: 2px;
    width: 100%;
    line-height: 16px;
    padding: 0 2px;
    margin-top: -1px;
}

.day--today {
    background-color: antiquewhite;
}

.day__events {
    display: flex;
    flex-direction: column;
    margin: 1px 0 1px -2px;
    padding: 0 2px;
    width: 100%;
}

.day__event {
    border: 1px solid #008080;
    border-radius: 2px;
    color: #008080;
    width: 100%;
}

.form {
    width: 50%;
    margin: 30px auto;
}

.form__title {
    font-size: 24px;
    text-align: center;
    margin: 20px;
}

.form__row {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.form__input {
    width: 50%;
}

.form__button {
    background-color: #CBE5E5;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    margin: 1px;
}
